<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width , initial-scale=1.0">
    <title>SignUp</title>
    <style>
        h1{
            text-align: center;
            color: #f9f9f9;
        }
        body{
            background-color: black;
        }
        form {
  max-width: 400px;
  margin: auto;
  padding: 8em;
  background: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

label {
  margin-top: 1em;
  font-weight: bold;
  display: block;
}

input[type="text"],
input[type="email"],input[type="text"],
input[type="password"],
textarea {
  width: 100%;
  padding: 0.5em;
  margin: 0.5em 0;
  border: 1px solid #ccc;
  border-radius: 4px;
}
input[type="submit"]:hover {
  background: #45a049;
}
.btn{
  width: 200px;
  margin-top: 2em;
  margin-left: 7.3em;
  font-weight: bold;
  background: #3978cf;
  color: white;
  border: none;
  padding: 0.7em 1em;
  cursor: pointer;
  border-radius: 4px;
}
/* #signin_btn{
    display: flex;
    justify-content:space-around
} */
/* .btn1,.btn2{
  background: #3978cf;
  color: white;
  margin-top: 4em;
  padding: .6em;
  font-weight: bold;
  display: block;
} */
/* #btn-signup{
   width: 200px;
  margin-top: 0.2em;
  margin-left: 7.3em;
  font-weight: bold;
  background: #4CAF50;
  color: white;
  border: none;
  padding: 0.7em 1em;
  cursor: pointer;
  border-radius: 4px;
} */

    </style>
</head>
<body>
    <h1>
        Signup
    </h1>
    <form action="/user" method="post">
        <label>Full Name</label>
        <input type="text" required name = "name"/>
        <label>Email</label>
        <input type="text" required name="email"/>
        <label>Password</label>
        <input type="text" required name="password"/>

        <button class="btn" type="submit">SignUp</button>
    </form>
</body>
</html>